@page "/screenshare"
@using WebClient.JsInterop
@inject ScreenShareInterop ScreenShareInterop

<h1>Screenshare here</h1>

<button @onclick="StartRecording">Start Recording</button>
<button @onclick="StopRecording">Stop Recording</button>

<video id="video" autoplay></video>

@code
{

    private async Task StartRecording()
    {
        await ScreenShareInterop.StartRecording();
    }

    private async Task StopRecording()
    {
        await ScreenShareInterop.StopRecording();
    }
}

