@page "/"
@implements IDisposable
@using BlazorLiveChatWebSocketExercise.Infrastructure
@inject IWebSocketClient webSocketClient

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <ul>
        @foreach (var message in _messages)
        {
            <li>@message</li>
        }
    </ul>
</div>

<div class="row">
    <input placeholder="state your username" @bind="username">
    <button @onclick="ConnectToChat"></button>
</div>

@code{
    private string username = "";
    private string chatUrl = "wss://localhost:5001/ws";
    private bool connected = false;
    
    private List<string> _messages = new List<string>();

    protected override void OnInitialized()
    {
        webSocketClient.OnMessageReceived += Handle;
    }

    private void Handle(object sender, WebSocketMessageModel e)
    {
        _messages.Add(e.Message);
        StateHasChanged();
    }
    
    private async Task ConnectToChat()
    {
        await webSocketClient.StartConnection(chatUrl, username);
        connected = true;
    }
    
    
    public void Dispose()
    {
        webSocketClient.DisposeAsync();
    }
}
